<div>
    <h1> REAL TIME PRODUCTS  </h1>
     <ul id="real-products"></ul>
     <form id="new-product-form"> 
       
     </form>

</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>